extends layout

block pagespecificstyles
  link(href='/assets/css/index.css', rel='stylesheet')

block content
  .container-fluid
    .col-lg-12.banner
  .container.info
    .col-lg-6.intro
      h1#brand
        | WaterReport
        sup ®
      p.lead Information Flow for Safe Water
    .col-lg-6.login
      form.form-signin(role='form', method='POST')
        if hasErrors
          p.lead.error(style='text-align: center; color: #f00; position: relative; top: 19px;') Check your credentials
        input#username.form-control.input(name='username', type='text', placeholder='Operator ID', required='required', autofocus='autofocus')
        input.form-control.input(name='password', type='password', placeholder='Password', required='required')
        button#login-btn.btn.btn-lg.btn-success.btn-block(type='submit') Log In