extends layout

block pagespecificstyles
  link(href='/assets/css/index.css', rel='stylesheet')

block content
  .container-fluid
    .col-lg-12.banner
  .container.info
    .col-lg-6.intro
      h1#brand
        | BirthsReport
        sup ®
      p.lead An Automated Births Registry
    .col-lg-6.login
      form.form-signin(role='form')
        p.lead.error #{error}
        input#username.form-control.input(type='text', placeholder='Operator ID', required='required', autofocus='autofocus')
        input.form-control.input(type='password', placeholder='Password', required='required')
        button#login-btn.btn.btn-lg.btn-success.btn-block(type='submit') Log In